{% extends 'web/main.html' %}
{% load static %}
{% block title_page %}
    <title>Магазин</title>

{% endblock title_page %}
{% block content %}
    {% if user.is_authenticated %}
        <div style="position: absolute; right: 50%; transform: translateX(50%); margin-top: 30px;">
            <a href="window.location.href = {% url 'reg' %}" type="submit" class="btn btn-light">Профиль</a>
            <a onclick="window.location.href = {% url 'exit' %}" type="submit" class="btn btn-light">Выход</a>
        </div>
    {% else %}
        <div style="position: absolute; right: 50%; transform: translateX(50%); margin-top: 30px;">
            <button onclick="window.location.href = {% url 'reg' %}" type="submit" class="btn btn-light">Регистрация
            </button>
            <button onclick="window.location.href = {% url 'login' %}" type="submit" class="btn btn-outline-info">Вход
            </button>
        </div>
    {% endif %}
    <section class="main-section paddind" id="Portfolio" style="
  background: #eecda3;
  background: -webkit-linear-gradient(to right, #eecda3, #62efa1);
  background: linear-gradient(to right, #eecda3, #60d092);
  min-height: 100vh;

">
        <div class="px-4 px-lg-0">
            <!-- For demo purpose -->
            <div class="container text-white text-center">
                <h1 class="display-4">Корзина</h1>
                </p>
            </div>
            <!-- End -->

            <div class="pb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

                            <!-- Shopping cart table -->
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="p-2 px-3 text-uppercase">Товар</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="py-2 text-uppercase">Цена</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="py-2 text-uppercase">Количество</div>
                                        </th>

                                        <th scope="col" class="border-0 bg-light">
                                            <div class="py-2 text-uppercase">Удалить</div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for cart_entry in cart.cartentry_set.all %}
                                        {% if cart_entry.product.availability %}
                                            <tr>
                                                <th scope="row" class="border-0">
                                                    <div class="p-2">
                                                        <img src="{{ cart_entry.product.img.url }}"
                                                             alt="" width="70" class="img-fluid rounded shadow-sm">
                                                        <div class="ml-3 d-inline-block align-middle">
                                                            <h5 class="mb-0"><a href="#"
                                                                                class="text-dark d-inline-block align-middle">{{ cart_entry.product.name }}</a>
                                                            </h5><span
                                                                class="text-muted font-weight-normal font-italic d-block">Категория: {{ cart_entry.product.group }}</span>
                                                        </div>
                                                    </div>
                                                </th>
                                                <td class="border-0 align-middle"><strong>{{ cart_entry.product.price }} ₽</strong>
                                                <td class="border-0 align-middle"><strong>{{ cart_entry.count }}</strong>
                                                </td>
                                                <form id="delete_form_{{ cart_entry.product.pk }}" method="post"
                                                      action="{% url 'delete_from_cart' cart_entry.product.pk %}">
                                                    {% csrf_token %}
                                                    <script>
                                                        function perform_delete_{{ cart_entry.product.pk }}() {
                                                            document.forms.delete_form_{{ cart_entry.product.pk }}.submit()
                                                        }
                                                    </script>
                                                    <td class="border-0 align-middle">
                                                        <a href="#" onclick="perform_delete_{{ cart_entry.product.pk }}()"
                                                           class="text-dark">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                    </td>
                                                </form>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- End -->
                        </div>
                    </div>

                    <form method="post" action="{% url 'pay' cart.pk %}">
                        {% csrf_token %}
                        <div class="row py-5 p-4 bg-white rounded shadow-sm">
                            <div class="col-lg-6">
                                <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Данные
                                    заказчика
                                </div>
                                <div class="p-4">
                                    <form>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="exampleInputEmail1"
                                                   aria-describedby="emailHelp" placeholder="Введите ФИО"
                                                   name="fullName">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="exampleInputPassword1"
                                                   placeholder="Ваш номер" name="number">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="exampleInputPassword1"
                                                   placeholder="Ваш адресс" name="address">
                                        </div>
                                        <div class="form-group">
                                            <select type="text" class="form-control" id="exampleInputPassword1"
                                                    name="pay">
                                                <option value="0" disabled selected>Выберите способ оплаты</option>
                                                <option value="0">Налиными</option>
                                                <option value="1">Онлайн картой</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <select type="text" class="form-control" id="deliveryInput"
                                                    name="delivery">
                                                <option value="0" disabled selected>Выберите способ доставки</option>
                                                <option value="0">Самовывоз</option>
                                                <option value="250">Доставка (₽250.00)</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Итог заказа
                                </div>
                                <div class="p-4">
                                    <p class="font-italic mb-4">Доставка и дополнительные расходы рассчитываются на
                                        основе
                                        значений, которые вы ввели.</p>
                                    <ul class="list-unstyled mb-4">
                                        <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                                class="text-muted">Сумма
                                            товаров </strong><strong id="price">₽{{ price }}.00</strong></li>
                                        <li class="d-flex justify-content-between py-3 border-bottom"
                                            id="delivery-output"><strong
                                                class="text-muted">Доставка</strong><strong>₽250.00</strong></li>
                                        <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                                class="text-muted">Общая сумма</strong>
                                            <h5 class="font-weight-bold" id="total">₽{{ price_total }}.00</h5>
                                        </li>
                                    </ul>
                                    <button type="submit" href="#" class="btn btn-dark rounded-pill py-2 btn-block">
                                        Оформить заказ
                                    </button>
                                </div>
                            </div>
                            <script>
                                const deliveryInput = $('#deliveryInput');
                                const deliveryOutput = $('#delivery-output');
                                deliveryInput.on('change', e => {
                                    const total = $('#total')[0];
                                    const price = $('#price')[0];
                                    const priceValue = Number(price.innerText.substring(1));
                                    if (Number(deliveryInput.val()) === 250) {
                                        deliveryOutput.removeClass('hidden');
                                        total.innerText = `₽${priceValue + 250}.00`;
                                    } else {
                                        deliveryOutput.addClass('hidden');
                                        total.innerText = `₽${priceValue}.00`;
}
                                });
                            </script>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
{% endblock content %}

