{% extends 'web/main.html' %}
{% load static %}
{% block title_page %}
    <title>Главная страница</title>
{% endblock title_page %}
{% block content %}
    <section class="main-section paddind" id="Portfolio" style=""></section>

    <section class="main-section" id="service">
        <!--main-section-start-->
        <div class="container">
            <h2>Категории</h2>
            <h6>У нас большое разнообразие товаров</h6>
            <div class="row">
                <div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
                    <div class="service-list">
                        <div class="service-list-col1">
                            <i class="fa fa-paw"></i>
                        </div>
                        <div class="service-list-col2">
                            <h3>Листовые материалы</h3>

                        </div>
                    </div>
                    <div class="service-list">
                        <div class="service-list-col1">
                            <i class="fa fa-gear"></i>
                        </div>
                        <div class="service-list-col2">
                            <h3>Облицовочные материалы</h3>

                        </div>
                    </div>
                    <div class="service-list">
                        <div class="service-list-col1">
                            <i class="fa fa-apple"></i>
                        </div>
                        <div class="service-list-col2">
                            <h3>Изоляционные материалы</h3>

                        </div>
                    </div>
                    <div class="service-list">
                        <div class="service-list-col1">
                            <i class="fa fa-medkit"></i>
                        </div>
                        <div class="service-list-col2">
                            <h3>Сухие смеси и грунтовки</h3>

                        </div>
                    </div>
                </div>
                <figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
                    <img src="{% static 'img/lerua.png' %}" alt="">
                </figure>

            </div>
        </div>
    </section>
    <!--main-section-end-->
    <section class="main-section alabaster"></section>
    <!--main-section alabaster-start-->
    <section class="main-section paddind" id="Portfolio" style="">
        <div class="container">
            <div class="row">
                <figure class="col-lg-5 col-sm-4 wow fadeInLeft">

                </figure>
                <div class="col-lg-7 col-sm-8 featured-work">
                    <h2>Наши плюсы</h2>

                    <div class="featured-box">
                        <div class="featured-box-col1 wow fadeInRight delay-02s">
                            <i class="fa fa-magic"></i>
                        </div>
                        <div class="featured-box-col2 wow fadeInRight delay-02s">
                            <h3>Высокое качество</h3>

                        </div>
                    </div>
                    <div class="featured-box">
                        <div class="featured-box-col1 wow fadeInRight delay-04s">
                            <i class="fa fa-gift"></i>
                        </div>
                        <div class="featured-box-col2 wow fadeInRight delay-04s">
                            <h3>Бонусы</h3>

                        </div>
                    </div>
                    <div class="featured-box">
                        <div class="featured-box-col1 wow fadeInRight delay-06s">
                            <i class="fa fa-dashboard"></i>
                        </div>
                        <div class="featured-box-col2 wow fadeInRight delay-06s">
                            <h3>Быстрая доставка</h3>

                        </div>
                    </div>
                    <a class="Learn-More" href="#">Learn More</a>
                </div>
            </div>
        </div>
    </section>

<section class="business-talking">
		<!--business-talking-start-->
		<div class="container">
			<h2> Комментарии клиентов.</h2>
		</div>
	</section>

        <section class="main-section paddind" id="Portfolio" style="">
        <style>
            .card-img-overlay {
                background-color: rgba(#000, 0.4);
            }

            .avatar {
                border: 0.1rem solid rgba(#fff, 0.3);
                max-width: 3rem;
            }

            @media (min-width: 0) {
                .g-mr-15 {
                    margin-right: 1.07143rem !important;
                }
            }

            @media (min-width: 0) {
                .g-mt-3 {
                    margin-top: 0.21429rem !important;
                }
            }

            .g-height-50 {
                height: 50px;
            }

            .g-width-50 {
                width: 50px !important;
            }
        </style>
        <div class="container">
            <div class="row">
                 {%  for comment in comments %}
                <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img"
                             src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/bologna-3.jpg"
                             alt="Bologna">
                        <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                            <blockquote class="blockquote text-right">
                                <p>"{{ comment.text }}"</p>
                            </blockquote>
                            <div class="author d-flex align-items-center">
                                <img class="avatar rounded-circle mx-2"
                                     src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/robert.jpg"
                                     alt="Bologna">
                                {{ comment.author }}
                            </div>
                        </div>
                    </div>
                </div>
                         {%  endfor %}
            </div>
        </div>
    </section>
     {% if user.is_authenticated %}
<div class="container">
		<section class="main-section contact" id="contact">

			<div class="row">
				<div class="col-lg-12 col-sm-5 wow fadeInUp delay-05s animated" style="visibility: visible; animation-name: fadeInUp;">
					<div class="form">
                        <h2 class="text-center mb-4">Оставьте комментария</h2>
						<div id="sendmessage">Your message has been sent. Thank you!</div>
						<div id="errormessage"></div>
						<form  class="comment-form" action="/" method="post" class="contactForm">
                                {% csrf_token %}
							<div class="form-group">
                                <input type="hidden" value="{{ user.id }}" name="author" id="id_author">
								<textarea class="form-control input-text text-area"
                                          name="text" rows="5" placeholder="Введите текста комментарии"></textarea>
							</div>
                             {% csrf_token %}
							<div class="text-center">
                                <button type="submit" class="input-btn">Отправить</button>
                            </div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>
    {% endif %}
{% endblock content %}